<%= form_for @song, url: {action: "create"} do |f|%>
  <label>Song Title:</label><br>
  <%= f.text_field :title %><br>
  <label>Released:</label><br>
  <%= f.text_area :released %><br>
  <label>Release Year:</label><br>
  <%= f.text_area :release_year %><br>
  <label>Artist Name:</label><br>
  <%= f.text_area :artist_name %><br>
  <%= f.submit %>
<% end %>